@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PersonBook</h1>
    <p>A sample MongoDB frontend, for learning.</p>
</div>